h1{
    color: rgb(104, 3, 104);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
}

h2{
    color: rgb(1, 143, 148);
}

hr{
    color: darkred;
}

p{
    font-size: x-large;
}

li{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: oblique;
}

body{
    background-image: url("backgroundImage.jpeg");
   
}

#happyphoto {
    /* display: "Happy"; */
    border:5px solid rgb(97, 37, 37);
    width:400px;
    
    
  }

#sadphoto{
    border: 5px solid rgb(93, 34, 90);
    width:400px;
    
}

#happyfigure{
    float: left;
    font-size: xx-large;
    caption-side: bottom;
}

#sadfigure{
    float: left;
    font-size: xx-large;
    caption-side: bottom;
}

#lastHeader{
    clear: left;
}

a { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: underline; 
}

  p::first-letter {
    float: left;
    line-height: 75px;
    font-size: 75px;
    font-family: Montserrat;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 3px;
    
  }