
body{
    background-image: url(http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/1/silverware.jpg);
}

h1{
padding: 15px;
text-align: center;
background: #F0F0F0;
color:  #A4A400;
font-size: 22pt;
font-family: Lucida Sans Unicode, Helvetica, Arial;
font-weight: bold;
text-decoration: underline;

}

h2{
    padding: 15px;
    text-align: left;
    background: #F0F0F0;
    color:  #A4A400;
    font-size: 18pt;
    font-family: Lucida Sans Unicode, Helvetica, Arial;
    font-weight: normal;
    text-decoration: underline;
    
    }

pre{
    font-family: Georgia,Garamond;
    font-size: 11pt;
}

div{
    border-bottom: 1px solid black;
}

.comment{
    background: #FFFFA8;
    font-style: italic;
}

#linkpara2{
    text-align: right;
    font-family: monospace;
}

#htmlpic{
    float: right ;
}

#csspic{
    float: right ;
}

#cakeid{
    text-decoration: line-through;
}




